# Source files
src/

# Configuration files
.vscode/
.idea/
.github/
.editorconfig
.prettierrc
.prettierignore
.eslintrc*
tsconfig.json
tsup.config.ts

# Package manager files
pnpm-lock.yaml
pnpm-workspace.yaml
yarn.lock
package-lock.json

# Development files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
*.pem
